data/** filter=lfs diff=lfs merge=lfs -text
data/**/*.py !text -filter -merge -diff
data/**/*.js !text -filter -merge -diff
data/**/*.cpp !text -filter -merge -diff
data/**/*.json !text -filter -merge -diff
